body {
  display: flex;  /* use the flex model */
  min-height: 100vh;
  flex-direction: column;  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}

#page-container {
  flex: 1;
}