html,
body {
  margin:0;
  padding:0;
  height:100%;
}

$footer-height: 40px;
.page-container {
  min-height:100%;
  position:relative;

  footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: $footer-height;
  }

  #content-wrapper {
    padding:10px;
    padding-bottom: $footer-height;
  }
}