

<section class="bg-dark py-2">
  <header class="navbar container grid-lg">
    <section class="navbar-section">
    </section>
    <section class="navbar-center">
      &#128273;
    </section>
    <section class="navbar-section">
      <if(input.userManagement !== false)>
        <LoginButton if(!input.userId)>Login</LoginButton>
        <UserMenu userId=input.userId if(input.userId)/>
      </if>
    </section>
  </header>
</section>