<section class="bg-dark py-2">
  <header class="navbar container grid-lg">
    <section class="navbar-section">
    </section>
    <section class="navbar-center">
      &#128273;
    </section>
    <section class="navbar-section">
      <a href="#" class="btn btn-primary">Login</a>
    </section>
  </header>
</section>